                                                            /* Propriétés générales */

* {
    /* Pour enlever les espaces autour et entre les divisions */
    padding: 0;  
    margin: 0;

    /* Position relative */
    position: relative;

}

html, body {

    /* Pour pouvoir créer des divisions relatives dans la page */
    height: 100%;

}

body {

    /* Police Georgia */
    font-family: 'Georgia', serif;

    /* Couleur de fond */
    background-color: #f0f4f8;

    /* Couleur de texte */
    color: #333;
}


                                                            /* Mise en forme du menu */


#menu-page { 

    /* Couleur du menu */
    background-color: rgb(132, 175, 255);

    /* Dimensions relatives du menu (20% de la hauteur de la page) */
    height: 20%;
    width: 100%;

    /* Mode de disposition flexible (pour que la division "titre-menu" remplisse le reste de la division) */
    display: flex;

    /* Ombre de la division */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}




#contenu-page {

    /* Dimensions relatives de la zone de contenu (pour que la page soit découpée en menu/contenu) */
    height: 80%;
    width: 100%;

    /* Mise en place d'une barre de défilement si dépassement du contenu */
    overflow-y: auto;

    /* Mode de disposition flexible en colonne (pour les divisions de contenu) */
    display: flex;
    flex-direction: column;
}


            /* Logo : */

#div-logo {

    /* Hauteur de la division dédiée au logo */
    height: 100%;

    /* Pour que la largeur soit définie en fonction de la hauteur (qui dépend du menu) : */
    aspect-ratio: 1 / 1 ;
    /* background-color: #af904c; */
}

#div-ombre {
    /* Dimensions relatives de la division (qui a la forme du logo) */
    height: 90%;
    width: 90%;

    /* Marges du logo par rapport à la division */
    margin: 5%;

    /* Forme circulaire de la division */
    border-radius: 50%;

    /* Ombre de la division */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#input-logo {

    /* Pour cacher l'input de type "checkbox" (seul le label associé à cet input est utile à l'interaction) */
    display: none;
}

#label-logo {

        /* Forme et dimensions : */

    /* Pour que le label du logo soit visible */
    display: block;

    /* Dimensions relatives du logo */
    height: 100%;
    width: 100%;

    /* Pour que le label du logo ait une forme circulaire */
    border-radius: 50%;


        /* Image d'arrière-plan : */

    /* Logo en arrière-plan */
    background-image: url("logo.png");

    /* Dimensions du logo par rapport au label */
    background-size: 100% 100%;


        /* Animation du logo */

    /* Mise en place de la rotation (5s par tour, répété à l'infini) */
    animation: rotation 5s linear infinite;

    /* Changement de la souris pour mettre en avant l'interactivité du logo */
    cursor: pointer;    
}


/* Définition de l'animation du logo : */
@keyframes rotation {
    100% { 
        /* Rotation de 360° à l'infini */
        transform: rotate(360deg) ;
    }
}

#input-logo:not(:checked) + #label-logo {

    /* Mettre en pause l'animation losque le "checkbox" n'est pas coché */
    animation-play-state: paused;
}

#input-logo:checked + #label-logo {

    /* Actionner l'animation losque le "checkbox" est coché */
    animation-play-state: running;
}


            /* Titre et menu déroulant : */

#titre-menu {

    /* Mode de disposition "flow", pour que la taille du titre n'influence pas celle de la division */
    display: flow;

    /* Dimensions relatives de la division (en disposition flexible) */
    height: 100%;
    width: 100%;
}


            /* Titre : */

#titre {

    /* Dimensions relatives de la division (en disposition flexible) */
    height: 65%;
    width: 100%;
}

img {

    /* Centrer l'image (à l'aide des marges automatiques) : */
    display: block;
    margin: auto;

    /* Dimensions de l'image (qui dépendent uniquement de la hauteur) */
    height: 100%;
}


            /* Menu déroulant : */

#menu-deroulant {

    /* Dimensions relatives de la division (en disposition flexible) */
    height: 35%;
    width: 100%;
}


            /* Menu déroulant (test) : */

.menuderoulant {
    position: relative;
    display: inline-block;
} 

.contenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.contenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contenu:hover .contenu {
    display: block;
}

.boutonderoulant {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}




                                                        /* Mise en forme du contenu */

.div-contenu {

    width: 96%;
    display: flex;
    flex-direction: row-reverse;

    margin: 2%;
    margin-bottom: 0;

}

.contenu-impair {

    flex-direction: row;

}

.contenu-pair {

    flex-direction: row-reverse;

}

.dernier-contenu {

    /* Marge de bas de page */
    margin-bottom: 2%;
}


.block-contenu {

    /* Dimensions (uniquement la largeur est définie) */
    width: 60%;

    /* Marge intérieure entre le bord et le texte */
    padding: 2%;

    /* Bords circulaires */
    border-radius: 20px;

    /* Couleur d'arrière-plan */
    background-color: white;

    /* Effet d'ombre */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    margin: 0;
}

h1 {
    font-size: 30px;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.div-image {
    height: 100%;
    width: 40%;
    background-color: aqua;
}
